html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tfoot,
thead,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:focus {
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  height: 100%;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/ApercuPro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ApercuPro-Regular.otf') format('opentype'), url('../fonts/ApercuPro-Regular.woff') format('woff'), url('../fonts/ApercuPro-Regular.ttf') format('truetype'), url('../fonts/ApercuPro-Regular.svg#ApercuPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Apercu';
  src: url('../fonts/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ApercuPro-Bold.otf') format('opentype'), url('../fonts/ApercuPro-Bold.woff') format('woff'), url('../fonts/ApercuPro-Bold.ttf') format('truetype'), url('../fonts/ApercuPro-Bold.svg#ApercuPro-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair';
  src: url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/PlayfairDisplay-Italic.woff') format('woff'), url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype'), url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf') format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
.header {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100px;
  padding: 30px 60px 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.header__logo {
  float: left;
  overflow: hidden;
  width: 322px;
  height: 70px;
  cursor: pointer;
  background: url('../img/logo.png') 0 0 no-repeat;
}
.header__small {
  padding: 15px 30px;
  height: 60px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header__small .header__logo {
  width: 50px;
  height: 30px;
  background: url('../img/logo_small.png') 0 0 no-repeat;
}
.slide {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center -100px;
  background-size: auto 110%;
  background-attachment: fixed;
}
.main {
  margin: 0 auto;
  width: 1200px;
}
.main__left {
  display: block;
  margin: 30vh auto 0 auto;
  font-family: 'Apercu';
  position: relative;
  width: 670px;
}
.main__left_date {
  font-size: 100px;
  line-height: 40px;
  font-style: italic;
  font-family: 'Playfair';
  position: absolute;
  left: -260px;
  top: 20px;
}
.main__left_date-red {
  font-size: 140px;
  color: #ff0000;
  position: relative;
}
.main__left_date-red:before {
  content: '';
  left: 30px;
  right: 60px;
  bottom: 0;
  height: 5px;
  background: #000;
  position: absolute;
}
.main__left_intro {
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  font-size: 16px;
  line-height: 30px;
  margin: 0 0 30px 0;
}
.main__left_title {
  display: flex;
  font-size: 52px;
  line-height: 62px;
  color: #000;
  font-weight: bold;
}
.main__left_title:last-child span {
  padding-bottom: 10px;
}
.main__left_title span {
  float: left;
  overflow: hidden;
  padding: 0 30px 0 15px;
}
.main__left_title:after {
  content: '';
  flex: 1;
  background: rgba(255, 255, 255, 0.7);
}
/* Layers */
.layer-1 {
  background: url(../img/trainers.png) 50% 0 no-repeat fixed;
  height: 1100px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 900px;
  z-index: 200;
}
.layer-2 {
  background: url(../img/layer-2.png) 50% 100px no-repeat fixed;
  height: 990px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  width: 900px;
  z-index: 200;
}
/* navigation */
#nav {
  list-style: none;
  position: fixed;
  right: 20px;
  z-index: 999;
}
#nav li a {
  padding: 5px 10px;
  margin: 0 0 2px 0;
  background: #fff;
  color: #414141;
  display: block;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
#nav li a.current {
  background-color: orange;
  color: #fff;
}
.readmore {
  float: right;
  font-family: 'OpenSans';
  color: #000;
  text-decoration: none;
  position: relative;
}
.readmore:before {
  content: '';
  width: 5px;
  height: 10px;
  background: #979797;
  position: absolute;
  bottom: -12px;
  left: 12px;
}
.readmore:after {
  content: '';
  width: 10px;
  height: 5px;
  background: #979797;
  position: absolute;
  right: -12px;
  top: 12px;
}
.readmore span {
  display: block;
  padding: 0 25px;
  line-height: 50px;
  border: 5px solid #000;
  position: relative;
}
.readmore span:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  margin: 0 0 0 5px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.readmore span:before {
  content: '';
  display: block;
  width: 105%;
  height: 55px;
  position: absolute;
  top: 12px;
  left: 10px;
  border-right: 5px solid #979797;
  border-bottom: 5px solid #979797;
}
