
@font-face {
  font-family: 'Apercu';
  src: 	url('../fonts/ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/ApercuPro-Regular.otf')  format('opentype'),
	    url('../fonts/ApercuPro-Regular.woff') format('woff'), 
	    url('../fonts/ApercuPro-Regular.ttf')  format('truetype'), 
	    url('../fonts/ApercuPro-Regular.svg#ApercuPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: 	url('../fonts/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/ApercuPro-Bold.otf')  format('opentype'),
	    url('../fonts/ApercuPro-Bold.woff') format('woff'), 
	    url('../fonts/ApercuPro-Bold.ttf')  format('truetype'), 
	    url('../fonts/ApercuPro-Bold.svg#ApercuPro-Bold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair';
  src: 	url('../fonts/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/PlayfairDisplay-Italic.woff') format('woff'), 
  		url('../fonts/PlayfairDisplay-Italic.ttf')  format('truetype'), 
  		url('../fonts/PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'OpenSans';
  src: 	url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), 
  		url('../fonts/OpenSans.woff') format('woff'), 
  		url('../fonts/OpenSans.ttf')  format('truetype'), 
  		url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

