@import "_reset.less";
@import "_fonts.less";

@apercu: 		'Apercu';
@playfair: 		'Playfair';
@open: 			'OpenSans';

.clear() {
	clear: both;
	display: block;
	overflow: hidden;
}

.radius(@rds: 5px) {
	-webkit-border-radius: @rds;
	-moz-border-radius: @rds;
	border-radius: @rds;
}

.transition(@trns: .2s) {
	-webkit-transition: @trns;
	-moz-transition: @trns;
	transition: @trns;
}



*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
.header {
	.clear();
	width: 100%;
	height: 100px;
	padding: 30px 60px 0 30px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	.transition();
	&__logo {
		float: left;
		overflow: hidden;
		width: 322px;
		height: 70px;
		cursor: pointer;
		background: url('../img/logo.png') 0 0 no-repeat;
	}
	&__small {
		padding: 15px 30px;
		height: 60px;
		background: rgba(255,255,255,.7);
		box-shadow: 0 0 10px rgba(0,0,0,.2);
		& .header__logo {
			width: 50px;
			height: 30px;
			background: url('../img/logo_small.png') 0 0 no-repeat;
		}
	}
}
.slide {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center -100px;
	background-size: auto 110%;
	background-attachment: fixed;
}
.main {
	margin: 0 auto;
	width: 1200px;
}
.main__left, .main__right {
	
}
.main__left {
	display: block;
	margin: 30vh auto 0 auto;
	font-family: @apercu;
	position: relative;
	width: 670px;	
	&_date {
		font-size: 100px;
		line-height: 40px;
		font-style: italic;
		font-family: 'Playfair';
		position: absolute;
		left: -260px;
		top: 20px;
		&-red {
			font-size: 140px;
			color: #ff0000;
			position: relative;
			&:before {
				content: '';
				left: 30px;
				right: 60px;
				bottom: 0;
				height: 5px;
				background: #000;
				position: absolute;
			}
		}
	}
	&_intro {
		background: rgba(255,255,255,.7);
		padding: 15px;
		font-size: 16px;
		line-height: 30px;
		margin: 0 0 30px 0;
	}
	&_title {
		display: flex;
		font-size: 52px;
		line-height: 62px;
		color: #000;
		font-weight: bold;
		&:last-child {
			& span {
				padding-bottom: 10px;
			}
		}
		& span {
			float: left;
			overflow: hidden;
			padding: 0 30px 0 15px;
		}
		&:after {
			content: '';
			flex: 1;
			background: rgba(255,255,255,.7);
		}
	}
}

/* Layers */
.layer-1 {
	background: url(../img/trainers.png) 50% 0 no-repeat fixed;
	height: 1100px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}
.layer-2 {
	background: url(../img/layer-2.png) 50% 100px no-repeat fixed;
	height: 990px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}

/* navigation */
#nav{
	list-style: none;
	position: fixed;
	right: 20px;
	z-index: 999;
}
#nav li a {
	padding: 5px 10px;
	display: block;
	margin: 0 0 2px 0;
	background: #fff;
	color: #414141;
	display: block;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}
#nav li a.current {
	background-color: orange;
	color: #fff;
}

.readmore {
	float: right;
	font-family: @open;
	color: #000;
	text-decoration: none;
	position: relative;
	&:before {
		content: '';
		width: 5px;
		height: 10px;
		background: #979797;
		position: absolute;
		bottom: -12px;
		left: 12px;
	}
	&:after {
		content: '';
		width: 10px;
		height: 5px;
		background: #979797;
		position: absolute;
		right: -12px;
		top: 12px;
	}
	& span {
		display: block;
		padding: 0 25px;
		line-height: 50px;
		border: 5px solid #000;
		position: relative;
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 9px;
			height: 9px;
			margin: 0 0 0 5px;
			border-right: 2px solid #000;
			border-top: 2px solid #000;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:before {
			content: '';
			display: block;
			width: 100% + 5px;
			height: 55px;
			position: absolute;
			top: 12px;
			left: 10px;
			border-right: 5px solid #979797;
			border-bottom: 5px solid #979797;
		}
	}
}






